*.h5
.ipynb_checkpoints/
__pycache__/
**my_dir/
**logs/
**models/
**venv/

# file types
*.h5
*.tflite
08-deep-learning/clothing-dataset-small-master.zip
10-kubernetes/code/clothing-model/variables/variables.data-00000-of-00001
