[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
jupyter = "*"
notebook = "*"
seaborn = "*"
flask = "*"
waitress = "*"
xgboost = "*"
tensorflow = "==2.7.0"
pip = "*"
install = "*"

[requires]
python_version = "3.9"
